<!DOCTYPE html>
<html ng-app="plunker">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mock HTTP Response</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <script>
        document.write('<base href="' + document.location + '" />');
    </script>
    <link rel="stylesheet" href="style.css" />
</head>

<body ng-controller="MainCtrl">
    <div class="container">
        <h1>Mockie : Real HTTP Mocking</h1>
        <!--<h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, perspiciatis fugit a ducimus. A ipsam quo modi veniam, quae, iusto totam perspiciatis dolores eligendi dolorem sapiente cumque, vero, distinctio esse!</h5>-->
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputStatus" class="col-sm-2 control-label">Status Code</label>
                <div class="col-sm-10">
                    <!--<select ng-options="k as v for (k,v) in options.codes"></select>-->
                    <select class="form-control" ng-model="selectedCode">
                      <option ng-repeat="(key, value) in options.codes" ng-value="key">{{key + " " + value}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputContentTypes" class="col-sm-2 control-label">Content Type</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="selectedContentTypes">
                      <option ng-repeat="(key, value) in options.contentTypes" ng-value="key">{{key}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputStatus" class="col-sm-2 control-label">Body</label>
                <div class="col-sm-10">
                    <div id="editor" ui-ace="{
      theme:'tomorrow',
      mode: 'json',
      onChange: aceChanged,
      onLoad : aceLoaded
    }"></div>
                </div>
            </div>
            <!--<br>-->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" ng-click="submit()">Generate my HTTP response</button>
                </div>
            </div>
        </form>

        <div class="alert alert-success" id="feedback" style="display: block;" ng-if="message">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>Your link is ready:</strong> <a href="{{link}}" target="blank">{{link}}</a></p>
            <!--Do not remove...-->
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <br>
            <p>Made with <span class="glyphicon glyphicon-heart"></span> in India.</p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js" type="text/javascript" charset="utf-8"></script>
    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.9/angular.js" data-semver="1.4.9"></script>
    <script src="https://rawgithub.com/angular-ui/ui-ace/bower/ui-ace.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
